<div class="background">
  <div class="container text-center d-flex align-items-center">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-4 box-auth mb-5 bg-transparent">
        <div class="row justify-content-center">
          <video autoplay loop width="200%" height="auto">
            <source src="../../../assets/videos/caricamento_video.mp4" type="video/mp4">
            Il tuo browser non supporta il tag video.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
