<footer>

  <!-- Sezione loghi footer -->
  <div class="container text-center contLogos">
    <ul class="list-inline mb-0 py-2">
      <li class="list-inline-item px-4">
        <a href="" target="_blank" class="text-white">
          <i class="bi bi-youtube"></i>
        </a>
      </li>
      <li class="list-inline-item px-4">
        <a href="" target="_blank" class="text-white">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="list-inline-item px-4">
        <a href="" target="_blank" class="text-white">
          <i class="bi bi-tiktok"></i>
        </a>
      </li>
      <li class="list-inline-item px-4">
        <a href="" target="_blank" class="text-white">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Seconda sezione footer -->
  <div class="container address">
    <div class="d-flex flex-column flex-sm-row justify-content-start">
      <div class="col-12 text-center">
        <p>© Endgame 2024 All Rights Reserved.</p>
      </div>
    </div>
    </div>
</footer>

