footer{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1500;
}

.footer, .address {
  width: 90%;
}


p{
  font-size: 0.7rem;
  color:#ffffff;
  text-shadow: 1px 1px 3px black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



.address{
  border-top: 1px solid #ffffff;
  padding-top: 10px;
}
.bi{
  font-size: 1.3rem;
}

a{
  color:inherit;
  text-decoration:none;
}
.bi-facebook{
  color: white;
}
.bi-youtube{
  color: white;
}
.bi-instagram{
  color: white;
}
.bi-instagram:hover{
    color: white;
}
.bi-facebook:hover{
  color: white;
}
.bi-youtube:hover{
  color: white;
}
.bi-tiktok{
  color: white;
}
.bi-tiktok:hover{
  color: white;
}

@media (max-width: 425.50px){
  .bi{
    font-size: 1.2rem;
  }

  p{
    font-size: 0.7rem;
  }
}
