.bodyUser{
  background-color: rgb(15, 15, 42);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, p, label, input{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}
