.bodyUser{
  background-color: rgb(15, 15, 42);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, p, label, input{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 0.8rem;
}

.custom-container {
  padding-top: 5rem;
  width: 50%;
  .row {
    margin-right: 0;
    margin-left: 0;
    .col-md-6 {
      @media (min-width: 768px) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
    .col-md-12 {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 1rem;
    }
  }
}
