<header>
  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="dashboard"><img src="../../../assets/images/endgame logo.png" alt="logo" class="logo"></a>
      <button class="navbar-toggler navbar-light border-0 pt-2" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" aria-controls="navbarNav" aria-label="Toggle navigation">
        <img src="../../../assets/icons/Artboard 1.png" alt="menu" width="30" height="30">
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen, 'menu-open': isMenuOpen}" id="navbarNav">
        <div class="navbar-collapse justify-content-end nav2">
          <ul class="navbar-nav nav1 ms-2">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link mx-2" routerLink="dashboard/portal">Portale</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link mx-2" routerLink="user-page">Profilo</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link mx-2" routerLink="about">Endgame</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
              <a class="nav-link mx-2" routerLink="privacy">Privacy</a>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse justify-content-end">
          <ul class="navbar-nav nav2">
            <ng-container *ngIf="!isLoggedIn; else loggedIn">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mx-2 linklog" routerLink="auth/login">Login</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mx-2 linkreg" routerLink="auth/register">Registrati</a>
              </li>
            </ng-container>
            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link linklog" (click)="logout()">Logout</a>
              </li>
              <li class="nav-item px-3">
                <a routerLink="user-page">
                  <img src="../../../assets/icons/star-fill.svg" alt="User" class="user-image">
                </a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

