@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.logo {
  width: 100px;
  height: 30px;
  padding: 5px;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding-left: 15px;
}
.nav2{
  padding-left: 25px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
  font-family: 'Gobold Lowplus', sans-serif;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #ffffff;
}

@media screen and (max-width: 575.50px) {
  header {
    display: block;
  }

  .container {
    text-align: right;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
  }

  .navbar-brand {
    margin-right: auto;
    margin-left: 20px;
  }
}

@media (max-width: 425.50px) {
  .nav-link {
    font-size: 0.8rem;
  }
}
