@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.logo {
  width: 120px;
  height: 30px;
  margin-top: -20px;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding-left: 15px;
}
.nav2{
  padding-left: 25px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
  font-family: 'Gobold Lowplus', sans-serif;
  font-size: 0.9rem;
}
.nav-link:hover{
  color:#dedede;
}
.nav-item.active .nav-link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .navbar-nav.menu-open {
    margin-left: auto;
  }
}

@media screen and (max-width: 575.50px) {
  header {
    display: block;
  }

  .container {
    text-align: right;
  }

  .navbar-brand {
    margin-right: auto;
    margin-left: 20px;
  }
}

@media (max-width: 425.50px) {
  .nav-link {
    font-size: 0.8rem;
  }
}
