<div class="bodyTitle">
  <div class="container pt-5">
    <div class="row pb-5">
      <div class="col-lg-4 my-2 containerCover position-relative">
        <a [routerLink]="['/dashboard/portal']" class="position-absolute top-0 start-5 text-decoration-none">
            <span class="fs-4">&lt;</span>
        </a>
        <div *ngIf="selectedVideogame" class="mt-4 d-flex justify-content-center">
            <img [src]="selectedVideogame.cover" class="posterImm" alt="cover"/>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 sectionTrailer">
                <h3 class="sectionTitle">Trailer</h3>
                <div *ngIf="safeTrailerUrl">
                    <div class="embed-responsive embed-responsive-16by9 ps-lg-5">
                        <iframe [src]="safeTrailerUrl" title="Embedded YouTube Video" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-12 col-lg-12">
                    <h3 class="sectionTitle">Immagini</h3>
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-6 mb-2 my-1" *ngFor="let image of selectedVideogame?.immagini">
                          <img [src]="image" alt="Immagine" class="img-fluid" (click)="toggleEnlarged($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="col-lg-8 mt-4 contTitleReview">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-5">
            <div class="text-start">
              <div class="d-flex justify-content-between align-items-center containTitle mb-1">
                <h1 class="col-10 my-0">{{ selectedVideogame?.titolo }}
                  <img class="pb-2" id="star-empty" src="../../../../assets/icons/star.svg" alt="star-icon">
                  <img class="pb-2" id="star-fill" src="../../../../assets/icons/star-fill.svg" alt="star-icon-filled">
                </h1>
                <div class="d-flex align-items-center">
                  <div class="col-12 text-light text-end">
                    <img class="metacriticLogo px-0" src="../../../../assets/icons/metacritic-logo.png" />
                    <div class="col-12 text-end vote">{{ selectedVideogame?.metascore }}</div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="mt-2 sectionPlot">Trama</h2>
            <p class="">{{ selectedVideogame?.plot }}</p>
            <div class="row flex-wrap">
              <div class="col-md-6 col-lg-3 mb-4">
                <h3 class="sectionTitle">Anno di uscita</h3>
                <p class="mb-0">{{ selectedVideogame?.annoDiUscita }}</p>
              </div>
              <div class="col-md-6 col-lg-3 mb-4">
                    <h3 class="sectionTitle">Genere</h3>
                    <p class="mb-0">{{ selectedVideogame?.genere }}</p>
              </div>
              <div class="col-md-6 col-lg-3 mb-4">
                    <h3 class="sectionTitle">Data di uscita</h3>
                    <p class="mb-0">{{ selectedVideogame?.dataDiUscita }}</p>
              </div>
              <div class="col-md-6 col-lg-3 mb-4">
                    <h3 class="sectionTitle">Paese</h3>
                    <p class="mb-0">{{ selectedVideogame?.paese }}</p>
              </div>
              <div class="col-md-6 col-lg-3">
                    <h3 class="sectionTitle">Piattaforme</h3>
                    <p class="mb-0">{{ selectedVideogame?.console }}</p>
              </div>
              <div class="col-md-6 col-lg-3">
                    <h3 class="sectionTitle">Publisher</h3>
                    <p class="mb-0">{{ selectedVideogame?.publisher }}</p>
              </div>
              <div class="col-md-6 col-lg-3">
                    <h3 class="sectionTitle">Team di sviluppo</h3>
                    <p class="mb-0">{{ selectedVideogame?.teamDiSviluppo }}</p>
              </div>
              <div class="col-md-6 col-lg-3">
                    <h3 class="sectionTitle">Premi e riconoscimenti</h3>
                    <p class="mb-0">{{ selectedVideogame?.premi }}</p>
              </div>
            </div>
        </div>
        <div class="review">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-12 mt-2">
              <h3 class="sectionTitle">Recensione</h3>
              <p>{{ selectedVideogame?.recensione }}</p>
            </div>
          </div>
        </div>
        <h3 class="mb-3 mt-2 text-light pageTitle py-2">{{ pageTitle }}</h3>
        <div class="row justify-content-center">
          <ng-container *ngFor="let videogame of videogames; let i = index">
            <div *ngIf="i < 6" class="col-10 col-sm-6 col-md-4 col-lg-4 mb-5">
              <div class="card">
                <a [routerLink]="['/dashboard/title', videogame.idVideogioco]">
                  <img [src]="videogame.cover" class="card-img-top posterImage" alt="...">
                </a>
                <div class="card-body text-center">
                  <p class="card-title mx-0 my-0 mt-1 sectionTitle">
                    {{ videogame.titolo }}
                  </p>
                  <p class="my-0">
                    {{ videogame.genere }}
                  </p>
                  <p class="card-text mx-0 my-0">{{ videogame.annoDiUscita }}</p>
                  <a class="btn btn-warning btn-discover mx-0 my-1" [routerLink]="['/dashboard/title', videogame.idVideogioco]">Scopri</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
