.bodyTitle{
  background-color: rgb(15, 15, 42);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}

.posterImm{
  width: 100%;
}

.containerCover{
  height: 470px;
}

.img-fluid{
  max-height: 140px;

}

p, span{
color:white;
}
