@import url('https://fonts.cdnfonts.com/css/gobold');
.bodyPortal{
  background-image: url(../../../../assets/images/PORTAL_endgame_background_ready-min.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  filter: brightness(0.7);
}
p{
  color:red;
}
