<div class="bodyPortal">
  <div class="container contPortal">
    <div class="row justify-content-center mb-3 searchbar">
      <form ngModule class="col-10 col-sm-7 col-md-12 col-lg-8">
        <div class="row">
          <div class="col-10 col-sm-7 col-md-2 col-lg-3 px-0 px-lg-1 divInput">
            <input name="searchQuery" type="text" class="form-control form1" placeholder="Inserisci titolo" [(ngModel)]="searchQuery" (click)="clearSearchQuery()">
          </div>
          <div class="col-10 col-sm-7 col-md-2 col-lg-2 px-0 px-lg-1 contForm2">
            <select name="type" class="form-select form2" [(ngModel)]="selectedGenre">
              <option class="dropdown-item" hidden disabled selected value="">Genere</option>
              <option class="dropdown-item" value="any">Qualsiasi</option>
              <option class="dropdown-item" value="horror">Survival Horror</option>
              <option class="dropdown-item" value="adventure">Action-Adventure</option>
              <option class="dropdown-item" value="gdr">GDR</option>
              <option class="dropdown-item" value="platform">Platform</option>
            </select>
          </div>
          <div class="col-10 col-sm-7 col-md-2 col-lg-2 px-0 px-lg-1 contForm3">
            <input name="year" type="text" class="form-control form3" placeholder="Anno">
          </div>
          <div class="col-10 col-sm-7 col-md-2 col-lg-3 px-0 px-lg-1 contForm4">
            <select name="platform" class="form-select form4 dropdown">
              <option hidden disabled selected value="">Piattaforma</option>
              <option class="dropdown-item" value="any">Qualsiasi</option>
              <option class="dropdown-item" value="pc">PC</option>
              <option class="dropdown-item" value="ps1">PlayStation</option>
              <option class="dropdown-item" value="ps2">Xbox</option>
              <option class="dropdown-item" value="ps3">Nintendo</option>
              <option class="dropdown-item" value="ps3">Mobile</option>
            </select>
          </div>
          <div class="col-10 col-sm-7 col-md-2 col-lg-2 divButton px-0">
            <button class="btn btn-warning btn-block text-center text-light" (click)="searchGames()">Cerca</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="row justify-content-center flex-wrap cardContainer">
        <ng-container *ngIf="searched; else metacriticGames">
          <ng-container *ngFor="let videogame of searchedVideogames">
            <div class="col-10 col-sm-6 col-md-4 col-lg-2 mb-5">
              <div class="card">
                <a>
                  <img [src]="videogame.cover" class="card-img-top posterImage" alt="...">
                </a>
                <div class="card-body text-center">
                  <p class="card-title mx-0 my-0 mt-1">
                    {{ videogame.titolo }}
                  </p>
                  <p class="my-0">
                    {{ videogame.genere }}
                  </p>
                  <p class="card-text mx-0 my-0">{{ videogame.annoDiUscita }}</p>
                  <a class="btn btn-warning btn-discover mx-0 my-1">Scopri</a>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #metacriticGames>
          <h3 class="mb-3">{{ pageTitle }}</h3>
          <ng-container *ngFor="let videogame of videogames">
            <div class="col-10 col-sm-6 col-md-4 col-lg-2 mb-5">
              <div class="card">
                <a>
                  <img [src]="videogame.cover" class="card-img-top posterImage" alt="...">
                </a>
                <div class="card-body text-center">
                  <p class="card-title mx-0 my-0 mt-1">
                    {{ videogame.titolo }}
                  </p>
                  <p class="my-0">
                    {{ videogame.genere }}
                  </p>
                  <p class="card-text mx-0 my-0">{{ videogame.annoDiUscita }}</p>
                  <a class="btn btn-warning btn-discover mx-0 my-1">Scopri</a>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>
