<div class="bodyAbout">
<div class="container pt-5 pb-5">
  <div class="row pt-5 mt-5">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h1>Cos'è Endgame</h1>
        <p>Endgame è un portale di ricerca videoludico creato interamente da zero come Capstone Project al termine del Full Stack Developer Bootcamp di EPICODE.</p>
    <p>All'interno è possibile cercare titoli videoludici appartenenti a qualsiasi categoria, console, anno di pubblicazione e accedere alla pagina corrispondente per conoscerne i dettagli.</p>
      <p>Qui puoi trovare le avventure che hanno segnato la tua vita attraverso le epoche, perchè queste storie fanno parte della tua storia.</p>
        <p>Benvenuto su Endgame.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 mt-5 pb-5">
      <div class="contactSection">
        <p class="mt-2">Contatti:</p>
        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <a href="https://www.linkedin.com/in/simone-d-anna-web-developer/" target="_blank">
                <img src="../../../assets/icons/linkedin-logo.png" alt="Logo Linkedin" class="img-fluid">
                <p class="contact text-light pt-1">Profilo LinkedIn</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <a href="https://github.com/SimoD91?tab=repositories" target="_blank">
              <img src="../../../assets/icons/github-logo.png" alt="Logo GitHub" class="img-fluid">
              <p class="contact text-light pt-1">Repository GitHub</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
