<div class="bodyPrivacy">
  <div class="container pt-5 pb-5">
    <div class="row pt-5 mt-5 pb-5">
      <div class="col-lg-6">
        <h2>Privacy Policy</h2>
        <h5>Introduzione</h5>
        <p>
          Questa Privacy Policy riguarda il trattamento dei dati personali raccolti attraverso il nostro sito web progettuale, che è stato sviluppato come parte finale di un corso di programmazione. I dati raccolti includono: nome, cognome e indirizzo email.
        </p>
        <h5>Raccolta dei Dati</h5>
        <p>
          I dati personali vengono raccolti esclusivamente per dimostrare il funzionamento del nostro sito come parte del capstone project per la conclusione del corso EPICODE. Non raccogliamo alcun altro dato personale oltre a quelli esplicitamente forniti dall'utente.
        </p>
        <h5>Uso dei Dati</h5>
        <p>
          I dati raccolti verranno utilizzati esclusivamente a scopo dimostrativo per il funzionamento del sito web. Non verranno utilizzati per alcuna altra finalità nè condivisi con terze parti.
        </p>
        <h5>
          Diritti dell'Utente</h5>
          <p>
          Gli utenti possono richiedere in qualsiasi momento l'accesso ai propri dati personali, la rettifica degli stessi o la loro cancellazione. Per esercitare questi diritti, è sufficiente utilizzare le funzionalità che verranno implementate in futuro o contattarci ai dati di contatto forniti.
        </p>
      </div>
      <div class="col-lg-6">
        <h2>Termini di Servizio</h2>
        <h5>Accettazione dei Termini</h5>
          <p>
          L'accesso e l'utilizzo del nostro sito web sono soggetti ai seguenti Termini di Servizio. Utilizzando il sito, l'utente accetta di essere vincolato da questi termini.
        </p>
        <h5>Uso del Sito</h5>
          <p>
          Il sito è stato creato esclusivamente come progetto finale per il corso di programmazione EPICODE e ha lo scopo di dimostrare le competenze acquisite. L'uso del sito è limitato a scopi dimostrativi e didattivi (per ora).
        </p>
        <h5>Limitazioni di Reponsabilità</h5>
          <p>
          Il sito è fornito "così come è", senza garanzie di alcun tipo riguardo alla sua funzionalità o disponibilità. Non siamo responsabili per eventuali danni emotivi e psicologici o perdite derivanti dall'uso del sito.
        </p>
        <h5>Modifiche ai Termini</h5>
          <p>
          Ci riserviamo il diritto di modificare questi Termini di Servizio in qualsiasi momento. Le modifiche entreranno in vigore immediatamente dopo la loro pubblicazione sul sito.
        </p>
        <h5>Dati di contatto</h5>
          <p>
          Email: simone0091&#64;hotmail.com
        </p>
      </div>
    </div>
  </div>
</div>
