<div class="bodyLogin">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-4 login-container">
        <div class="login-box">
          <main>
            <h1 class="text-center">Bentornato!</h1>
            <p class="text-center mt-3">Effettua il login</p>
            <form (ngSubmit)="loginUser()" class="text-center">
              <div class="form-group position-relative">
                <input type="text" id="username" class="form-control" name="username" required [(ngModel)]="userLogin.username"
                [ngClass]="{ 'active': inputActiveStates['username'] }" (input)="onInputChange('username')" (blur)="onInputBlur('username')" placeholder="username">
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="form-control mt-2" required [(ngModel)]="userLogin.password"
                  [ngClass]="{ 'active': inputActiveStates['password'] }" (input)="onInputChange('password')" (blur)="onInputBlur('password')" placeholder="password">
                <img id="password-toggle-img" src="../../../../assets/icons/password_nascosta_1.png" alt="Show Password" class="password-toggle password-toggle position-absolute end-0 pt-0 translate-middle-y" (click)="togglePasswordVisibility()">
              </div>
              <div class="buttonContainer">
              <div class="form-group mt-3">
                <button type="submit" class="login-btn">Login</button>
                <span *ngIf="logging" class="spinner-border spinner-border-sm" role="status"></span>
              </div>
              <div class="form-group">
                <p class="account-msg mt-2">oppure se non hai un account</p>
                <button type="button" class="register-btn mb-4" [routerLink]="['../register']" routerLinkActive="active">
                  Registrati
                </button>
              </div>
            </div>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
