@import url('https://fonts.cdnfonts.com/css/gobold');

.bodyWelcome {
  background-image: url(../../../assets/images/2_HOME_endgame_background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.cont1{
  height: 85vh;
}
p{
    font-family: "Buda", serif;
    font-weight: 300;
    font-style: normal;
    color:white;
    font-size: 1.1rem;
    text-shadow: 1px 1px 6px black;
}
.p2{
  font-family: 'Gobold Extra1', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  text-shadow: 1px 1px 6px black;
}
.shimage{
  width: 25%;
}
.enter{
  text-decoration:none;
  cursor: pointer;
  margin-bottom: 100px;
}
.enter:hover{
  color: #dedede;
}

@media screen and (min-width:2559.50px) {
p{
  padding-top: 100px;
  font-size: 1.5rem;
}
.shimage{
  width: 40%;
}
}

@media (max-width: 575.50px){
.cont1{
  height: 60vh;
}
p{
  font-size: 0.6rem;
}
.shimage{
  width: 100%;
}
}
@media (max-width: 425.50px){
  .cont1{
    height:70vh;
    padding-top: 20px;
  }
}
