<div class="bodyWelcome">
  <div class="container cont1 text-center">
    <p class="pt-5">Benvenuto nel portale videoludico in cui trovare le avventure che hanno segnato la tua vita attraverso le epoche, perchè queste storie fanno parte della tua storia.</p>
    <p>Benvenuto in Endgame</p>
    <div class="container cont2">
      <div class="row">
    <div class="col-6 col-md-12 col-sm-12 d-flex col-lg-12 flex-column justify-content-center align-items-center">
      <img src="../../../assets/images/silent_hills.jpg" alt="sh2remake" class="sh2image mt-3">
      <a href="blabla" src="blabla"></a>
      </div>
      <div class="col-6 col-md-12 col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
      <button type="button" class="btn btn-dark mt-3" routerLink="loading">Entra</button>
    </div>
    </div>
  </div>
  </div>
  </div>
